.app {
  width: auto;
  height: auto;
}
.row {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: gray;
  padding: 10px;
  display: grid;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: 12px;
}
.movie__image {
  margin-left: 35px;
  margin-top: 10px;
}
.paragraph {
  border: 1px solid red;
  background-color: rgb(230 230 230);
  width: 315px;
  height: 100px;
  overflow: auto;
}
.heading {
  color: red;
  font-style: oblique;
}
.buton {
  border: 2px solid #141414;
  color: #141414;
  text-align: center;
  width: 100px;
  height: 30px;
  margin-left: 110px;
  margin-bottom: 10px;
}

.buton:hover {
  background: wheat;
  color: #000;
}

.add-movies {
  border: 2px solid #141414;
  color: #141414;
  width: 100px;
  height: 40px;
  margin-left: 680px;
  margin-top: 5px;
}
.add-movies:hover {
  background: wheat;
  color: #000;
}
.search-form {
  border-radius: 3px;
  background-color: gray;
  font-size: 20px;
  width: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
